@import "tailwindcss";

button {
    background-color: #0d6efd;
    margin: 15px 0;
    padding: 5px;
    /* width: 150px; */
    border-radius: 8px;
    color: aliceblue;

}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 80px;
    font-weight: 300;

}

h2 {
    font-size: large;
    font-weight: 600;
    margin: 15px 0;
}

p {
    margin: 15px 0;
}